{{ if .Site.Params.Sidebar }}
<nav class="h-100 fixed fl dib-l dn w-side bg-dark">
    <div class="tc mv4">
        <a class="link dim" href="{{- .Site.BaseURL -}}">
            <h1 class="f2 fw1 white mt3 mb2">{{ .Site.Title }}</h1>
            <h2 class="f5 fw2 light-gray tracked pt0 mt0">{{ .Site.Params.Description }}</h2>
        </a>
    </div>
    
    <ul class="list mt5 cf ph4">
        <li class="pv2 f4 fw1">
            <a class="link dim white" href="/golang">
                <div class="w-100">
               Go
               </div>
            </a>
        </li>
        <li class="pv2 f4 fw1">
            <a class="link dim white" href="/python">
                <div class="w-100">
               Python
               </div>
            </a>
        </li>
        <li class="pv2 f4 fw1">
            <a class="link dim white" href="/devops">
                <div class="w-100">
               DevOps
               </div>
            </a>
        </li>
        <li class="pv2 f4 fw1">
            <a class="link dim white" href="/about">
                <div class="w-100">
               About
               </div>
            </a>
        </li>
    </ul>
    <div class="w-90 mb3 db pl3 center bottom-0 absolute cf tc">
        <a class="link dim white ph2" href="/">
            <i class="fa fa-github fa-2x"></i>
        </a>
        <a class="link dim white ph2" href="/">
            <i class="fa fa-linkedin fa-2x"></i>
        </a>
        <a class="link dim white ph2" href="/">
            <i class="fa fa-envelope fa-2x"></i>
        </a>
    </div>
</nav>
<nav class="dib dn-l bg-dark ph3">
{{ else }}
<nav class="w-100 cf bg-dark ma0 pa0">
{{ end }}
    <a class="white link dim tc fl-ns" href="/" title="Home">
        <h1 class="f3 fw3-ns fw1 mv0 pt4 pl5-ns tracked pt4-ns mt2-ns pb3 ml5-ns">stevey.io</h1>
    </a>
    <ul class="tc list mv0 pa0 pb4 pt4-ns mt3-ns mr5-ns fr-ns">
        <li class="dib w3-ns tc mh2">
            <a class="link dim white f5-ns f6" href="/golang">Golang</a>
        </li>
        <li class="dib w3-ns tc mh2">
            <a class="link dim white f5-ns f6" href="/python">Python</a>
        </li>
        <li class="dib w3-ns tc mh2">
            <a class="link dim white f5-ns f6" href="/devops">DevOps</a>
        </li>
        <li class="dib w3-ns tc mh2">
            <a class="link dim white f5-ns f6" href="/about">About</a>
        </li>        
    </ul>
</nav>