<header class="dark-gray tc pv4 avenir">
    <a href="/" class="ml2 ma0 dib v-mid pb1 link dim dark-gray">
        <h1 class="ma0 pa0 fw4 f1 lh-title">stevey.io</h1>    
        <h2 class="ma0 pa0 mt1 f7 fw4 ttu tracked lh-title">developer notes</h2>
    </a>
    
    <nav class="bt bb tc mw7 center mt4 b--black-30">
        <a class="f5 fw5 dark-gray link dim dib pa3 ph4-l" href="/post">Blog</a>
        <a class="f5 fw5 dark-gray link dim dib pa3 ph4-l" href="/about">About</a>
        <a class="f5 fw5 dark-gray link dim dib pa3 ph4-l" href="/go">Go</a>
        <a class="f5 fw5 dark-gray link dim dib pa3 ph4-l" href="/go">Python</a>
        <a class="f5 fw5 dark-gray link dim dib pa3 ph4-l" href="/go">DevOps</a>
        <a class="f5 fw5 dark-gray link dim dib pa3 ph4-l" href="/commands">Commands</a>
    </nav>
</header>

