<!DOCTYPE html>
<html class="h-100" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{{ partial "header.html" . }}

<body class="h-100 cover" style="background:linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)),url('{{ .Params.Image }}') no-repeat center;">

    {{ partial "sidebar.html" . }}

    {{ if .Site.Params.Sidebar }}
    <div class="main-sidebar h-100">
    {{ else }}
    <div class="main-normal">
    {{ end }}
    {{ block "main" . }}
    {{ end }}
    </div>

    {{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}
</body>

</html>
