{{ define "main" }}
{{ if .Params.custom }}
    {{- .Content -}}
{{ else }}
<div class="{{ if not .Params.Image }}bg-dark{{ end }} pt5 pb5">
    {{ if not .Params.notitle }}
    <h1 class="tc white f1-ns f2 fw5 mv0 ph4 shadow">{{- .Title -}}</h1>
    {{ end }}
    {{ if not .Params.nodate }}
    <time class="white f5 fw1 mt4 pt4 tc db">{{ .Date.Format "Jan 2, 2006" }}</time>
    {{ end }}
    {{ if .Params.headertext }}
    <div class="mw7 center pv3 ph4 tc">
        <h1 class="avenir lh-copy f3-ns f4 fw1 mv0 pv0">
            {{ .Params.headertext }}
        </h1>
    </div>
    {{ end }}
</div>
<div class="w-100 bg-white">
<article class="pa4 pt5 f4 lh-copy measure-wide center bg-white content">
    {{- .Content -}}
    <section class="mw7 pa3 pa4-m pa3-l tc f5">
            <h4 class="dark-gray dib ph3 pv1">Tags:</h4>
            {{ range .Params.tags }}
            <a class="link b dim dark-gray no-underline dib ph2 pv0 mv0" href="/tags/{{- . -}}">{{- . -}}</a>
            {{ end }}
    </section>
    <div class="w-100 cf ph2-ns center">
        <div class="fl w-50 w-50-ns pa2 tl">
            {{ if .PrevInSection }}
            <a class="f5 dim link dark-gray" href="{{.PrevInSection.Permalink}}">
                <i class="fa fa-chevron-left pr2" aria-hidden="true"></i>
                <span class="dn di-ns">{{- substr (lower .PrevInSection.Title) 0 25 -}} ...</span>
            </a>
            {{ end }}
        </div>
        <div class="fl w-50 w-50-ns pa2 tr">
            {{ if .NextInSection }}
            <a class="f5 link dim dark-gray" href="{{.NextInSection.Permalink}}">
                <span class="dn di-ns">{{- substr (lower .NextInSection.Title) 0 40 -}} ...</span>
                <i class="fa fa-chevron-right pl2" aria-hidden="true"></i>
            </a>
            {{ end }}
        </div>
    </div>
</article>
{{ template "_internal/disqus.html" . }}
</div>
{{ end }}


{{ end }}