{{ define "main" }}
{{ if .Params.custom }}
    {{- .Content -}}
{{ else }}
<div class="{{ if not .Params.Image }}bg-dark{{ end }} pt5 pb5">
    <h1 class="tc f1 fw4 mv0 ph4">{{- .Title -}}</h1>
    {{ if not .Params.nodate }}
    <time class="fw1 mt4 pt4 tc f5 db">{{ .Date.Format "Jan 2, 2006" }}</time>
    {{ end }}
</div>
<div class="w-100 bg-white">
<article class="pa4 pt5 f4 lh-copy measure-wide center bg-white">
    {{- .Content -}}
    <section class="mw7 pa3 pa4-m pa3-l tc">
            <h4 class="f4 dark-gray dib ph4 pv1">Tags:</h4>
            {{ range .Params.tags }}
            <a class="f5 link b dim dark-gray no-underline dib ph2 pv0 mv0" href="#">{{- . -}}</a>
            {{ end }}
    </section>
    <div class="w-100 cf ph2-ns center">
        <div class="fl w-50 w-50-ns pa2 tl">
            {{ if .PrevInSection }}
            <a class="dim link dark-gray" href="{{.PrevInSection.Permalink}}">
                <i class="fa fa-chevron-left pr3" aria-hidden="true"></i>
                <span class="dn di-ns">{{- .PrevInSection.Title -}}</span>
            </a>
            {{ end }}
        </div>
        <div class="fl w-50 w-50-ns pa2 tr">
            {{ if .NextInSection }}
            <a class="link dim dark-gray" href="{{.NextInSection.Permalink}}">
                <span class="dn di-ns">{{- .NextInSection.Title -}}</span>
                <i class="fa fa-chevron-right pl3" aria-hidden="true"></i>
            </a>
            {{ end }}
        </div>
    </div>
</article>
</div>
{{ end }}


{{ end }}