{{ define "main" }}

<div class="bg-dark pv5-ns pt2 pb4 h8-12">
    <div class="mw7 center pt2 ph4 tc">
        <h1 class="color-light f1-ns f2 fw1 mv0 pv0">Developer Notes</h1>
    </div>
</div>

<div class="fl w-100 pa5-l pa3">
    {{ $paginator := .Paginate (where .Data.Pages.ByPublishDate ".Section" "==" "posts") }}
    {{ range $paginator.Pages.Reverse }}
    <div class="fl w-100 w-50-m w-third-l pa2">
        <article class="bg-white cf ba b--black-10 br3 center measure-wide" style="height: 24rem;">
            <a class="cf dim link dt color-dark" href="{{ .RelPermalink }}">
                <div class="h4 cover br3 w-100" style="background-image: url({{- .Params.image -}});"></div>
                <div class="pa2 ph3-ns pb3-ns w-100" style="max-height: 15rem;overflow: hidden;">
                    <h1 class="f5 f4-
                    ns mv0 pt3 color-dark" style="min-height: 5rem;">{{- .Title -}}</h1>
                    <p class="f6 lh-copy mt2 mid-gray">
                        {{ substr .Summary 0 250 }} ...
                    </p>
                </div>
            </a>
        </article>
    </div>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
</div>

<div class="overflowing bg-dark slanted">
</div>

{{ end }}