{{ define "main" }}
<div class="bg-dark pt4-ns pb5-ns pt2 pb4 h8-12">
    <div class="mw7 center pv3 ph4 tc">
        <h1 class="white f1-ns f2 fw1 mv0 pv0">Developer Notes</h1>
    </div>
</div>
<section class="measure-wide center pv4">
    {{ range first 5 (where .Data.Pages.ByDate.Reverse "Params.hide" "!=" true) }}
    <a class="link dim dark-gray" href="{{ .RelPermalink }}">
        <h1 class="f4 fw5 lh-title mv4 pv1 pv0 ph4">
            {{- .Title -}}
        </h1>
    </a>
    {{ end }}
</section>
{{ end }}
