<header class="cover bg-top bg-near-white">
    <div class="w-80 center">
        {{ partial "nav.html" . }}
        <div class="tc pt4 fw1">
            <h1 class="fw4 f1-l ph6-l f3-s ph2-s mv0 pv4 avenir">{{ .Title | default .Site.Title }}</h1>
            {{ with .Params.description  }}
            <h2 class="f4-l fw1 i avenir pv0 mv0">
                {{ . }}
            </h2>
            {{ end }}
            <time class="f6-l mv4 dib ttu tracked avenir"><small>{{ .Date.Format "Jan 2, 2006" }}</small></time>
        </div>
    </div>
</header>
