<nav class="pv1 mw7 center bb b--black-10">
    <div class="flex-l justify-between items-center center">
        <a href="http://stevey.io/" class="f3 fw4 dark-gray link dim dib">
            stevey.io
        </a>
        <div class="flex-l items-center">
            <ul>
                <li class="list f5 dib ph2 pt2">
                    <a class="gray link dim" href="/about">
                        About
                    </a>
                </li>
                <li class="list f5 dib ph2 pt2">
                    <a class="dark-gray link dim" href="/resources">
                        Resources
                    </a>
                </li>
                <li class="list f5 dib ph2 pt2">
                    <a class="dark-gray link dim" href="/resources">
                        Tags
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>