body {
    /*font-family: Avenir,sans-serif;*/
    font-family: -apple-system,"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #f8f9fa;
    color: #233043;
}

.color-light {
    color: #f8f9fa;
}

.color-dark {
    color: #233043;
}

.bg-light {
    background: #f8f9fa;
    color: #233043;
}

.bg-dark {
    background-color: #232020;
    color: #fdfdfd; 
}

.w-side {
    width: 13rem;
}

.header {
    min-height: 20em;
}

code {
    font-size: 1rem;
}

@media(min-width: 60em) {
    .main-sidebar {
        margin-left: 13rem;
    }
}

@media(min-width: 30em) {
    .h8-12 {
        height: 7rem;
    }
}

.post-title {
    letter-spacing: 2px;
}

pre {
    font-size: 0.7em;
}

p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8;
}

a {
    outline: none !important;
}

.overflowing {
    position: relative;
    height: 20rem;
    z-index: -100;
}

.slanted {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
}

.shadow {
   text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
}

/* Content Formatting */

.content p {
    /*font-family: Avenir,sans-serif;*/
    font-family: Avenir,-apple-system,"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
    font-size: 1.2rem;
    /*letter-spacing: 0.05em;*/
    /*word-spacing: 1.5px;*/
    line-height: 1.7;
    font-weight: 100;
    margin: 0.5em 0em;
}

@media(max-width: 30em) {
    .content p {
        font-size: 1rem;
    }
}

.content strong {
    font-weight: 600;
}

.content a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(40.9%, 47.6%, 99.9%);
}

.content h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

.content h2 {
    font-size: 2.2rem;
    font-weight: 500;
    margin: 0;
    padding: 0.4em 0.2em;
}

.content h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

.content p code {
    font-family: Inconsolata,monospace;
    font-size: 1rem;
    background-color: rgb(88.6%, 81.6%, 81.6%, 0.2);
    padding: 0.3em;
}

.content pre code {
    font-family: Inconsolata,monospace;
    font-size: 1rem;
    margin: 2em 0em;
}
